
<article class="article">
  <header class="article__header">
    <h2 class="article__title"><%= page.title %></h2>
    <% if (page.description){ %><h3 class="article__description"><%= page.description %></h3><% } %>
  </header><!-- .article__header -->
  <div class="article__content">

    <div class="wysiwyg">
      <%- page.content %>
    </div><!-- .wysiwyg-->

  </div><!-- .article__content -->
</article><!-- .article -->
