
html, body
  font-family: font-base
  font-size: 100%
  line-height: 1.8
  margin: 0
  padding: 0

*, *:before, *:after
  box-sizing: border-box

// input, button
//   margin: 0
//   padding: 0
//   &::-moz-focus-inner
//     border: 0
//     padding: 0

p
  margin 0
  padding 0
