
html, body
  color: #302110
  font-family: font-base
  font-size: 100%
  line-height: 1.8
  margin: 0
  padding: 0

html
  scroll-behavior: smooth

body
  overflow-x: hidden // Prevent layout overflow on mobile

*, *:before, *:after
  box-sizing: border-box

// Should add a margin to the scroll target (it doesn't)
:target:before
  content: ''
  display: block
  height: 200px
  margin: -200px 0 0

// input, button
//   margin: 0
//   padding: 0
//   &::-moz-focus-inner
//     border: 0
//     padding: 0

p
  margin 0
  padding 0
