
// Breakpoints
breakpoint-tablet = "screen and (max-width: 52em)"

// Colors
color-base = #fff
color-background = #F9F9F9
color-primary = #3D2913
color-secondary = #F6AC00
color-default = color-primary
color-link = color-secondary

// Fonts
font-sans = 'Lato', sans-serif
font-serif = 'Playfair Display', serif
font-mono = monospace, monospace
font-base = font-sans
font-primary = font-serif
font-secondary = font-sans
