
.article
  padding: 18vh 0 0

  &__header
    font-family: font-primary
    margin: 0 0 1.8em

  &__title
    font-size: 2.1em
    font-weight: bold
    line-height: 1
    margin: 0 0 .24em

  &__description
    font-size: 1.2em
    font-weight: normal
    font-style: italic
    line-height: 1.5
    margin: 0 0 1em

  &__content
    max-width: 45em

  @media screen and (min-width 52em)
    padding: 33vh 0 0

    &__header
      font-family: font-primary
      margin: 0 0 4.5vw
      padding: 0 6%

    &__title
      font-size: 6vw

    &__description
      font-size: 2vw
      line-height: 1.5

    &__content
      margin: 0 12% 11vh 24%
      font-size: 1.12em
