
.logo
  padding: 100% 0 0 100%
  overflow: hidden
  width: 0
  height: 0
  background-image: url('/css/assets/plastichabitat-logo.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: contain
