
.menu
  opacity: 0
  transform: translateX(-3em)
  transition: opacity .9s ease-out,
    transform 1.2s ease-out

  &__items
    margin: 0
    padding: 3.3em 2.4em

  &__item
    list-style: none

    &:nth-child(2)
      margin-bottom: .9em

  &__link
    color: inherit
    text-decoration: none

  .-openNavigation &
    opacity: 1
    transform: translateX(0)
    transition: opacity .9s ease-in,
      transform .6s ease-in-out
