
.mobileNavigationToggle
  background-image: url('/css/assets/close-dark.svg')
  background-position: center
  background-repeat: no-repeat
  background-size: 90%
  cursor: pointer
  display: inline-block
  height: 0
  overflow: hidden
  padding: 1.8em 0 0 1.8em
  width: 0
