
.tableOfContents
  bottom: 3em
  left: 2em
  opacity: 1
  position: absolute
  transform: translateY(0)
  transition: .6s ease-in-out

  .-openSearch &
    opacity: 0
    transform: translateY(calc(100% + 3em))
