/**
 * Plastic Habitat
 * Playground for design and development
 * http://plastichabitat.com/
 */

/**
 * Use box-sizing on everything
 */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Typography
 */

body {
	color: #3D2914;
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	line-height: 1.8;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	line-height: 1.5em;
}

h1, h2 {
	border-top: 1px solid #eee;
	font-weight: 700;
	margin-top: 2.4em;
	padding-top: 1.8em;
}

h3, h4 {
	font-style: italic;
	margin-top: 1.8em;
}

/**
 * Anchors
 */

a {
	border-bottom: 0.15em solid #F6AC00;
	color: inherit;
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

a:hover {
	color: #F6AC00;
}

/**
 * Lists
 */

ul {
	list-style-type: circle;
	padding-left: 1.2em;
}

/**
 * Code
 */

code {
	background-color: #eee;
	padding: 0.3em 0.45em;
	border-radius: 0.3em;
}

pre {
	border-left: 0.50em solid #eee;
	padding-left: 0.75em;
}

pre code {
	background: transparent;
	padding: 0;
}

/**
 * Misc. block elements
 */

hr {
	border: none;
	border-top: 0.09em solid #eee;
	margin: 3em 0;
}

/**
 * Layout
 */

.page {
	background-color: #fff;
	border: .75em solid #eee;
	padding: 1.2em;
}

@media (min-width: 45em) {	.page { border-width: .9em; } }
@media (min-width: 72em) {	.page { border-width: 1em; } }

/**
 * Header
 */

.header {
	float: none;
}

@media (min-width: 45em) {	.header { float: left; max-width: 12em; width: 33%; } }

.header__branding {
	border: none;
	margin: 0;
	padding: 1.5em 0 0.3em;
}

@media (min-width: 45em) {	.header__branding {padding: 1.5em 0; } }

.header__branding__logo {
	background-image: url('../assets/plastichabitat-logo.svg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	display: block;
	height: 0;
	margin: 0 auto;
	overflow: hidden;
	padding: 3em 0 0 3em;
	width: 0;
}

/**
 * Navigation
 */

.navigation__toggle {
	/*background-color: rgba(255, 255, 255, .9);*/
	background-color: #eee;
	cursor: pointer;
	font-size: 1em;
	right: 0.75em;
	margin: 0;
	padding: 0.45em 0.75em;
	position: fixed;
	top: 0.75em;
	z-index: 200;
}

@media (min-width: 45em) {	.navigation__toggle { display: none; } }

.navigation__toggle__button {
	font-size: 1.8em;
	font-style: normal;
}

@keyframes overlay {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.navigation ul {
	display: none;
}

.navigation.-open ul {
	background-color: rgba(255, 255, 255, .96);
	border: .75em solid #eee;
	display: block;
	position: fixed;
	top: 0; right: 0; left: 0; bottom: 0;
	margin: 0;
	padding: 4.5em 1.5em;
	overflow: auto;
	opacity: 1;
	z-index: 100;
	text-align: center;
	-webkit-animation-name: overlay;
	-o-animation-name: overlay;
	animation-name: overlay;
	-webkit-animation-duration: 1.8s;
	-o-animation-duration: 1.8s;
	animation-duration: 1.8s;
	-webkit-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
}

@media (min-width: 45em) { .navigation ul { display: block;	text-align: right; opacity: 1; } }

.navigation ul {
	border-top: 1px solid #eee;
	list-style: none;
	line-height: 1.8em;
	padding: 0;
}

.navigation a {
	border-bottom: 1px solid #eee;
	display: block;
	padding: 0.5em;
}

.navigation a.is-active {
	border-bottom: 0.15em solid #F6AC00;
	color: #F6AC00;
}

/**
 * Content
 */

.content {
	margin: 3em auto 6em;
	max-width: 42em;
}

@media (min-width: 45em) {	.content { float: right; width: 66%; } }
@media (min-width: 72em) {	.content { float: none; width: auto; } }

.content__header h1,
.content__header h2 {
	border: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.content__header h1 {
	font-size: 3em;
	font-weight: 700;
}

.content__header h2 {
	font-size: 1.5em;
	font-weight: 400;
	font-style: italic;
}

/**
 * Footer
 */

.footer {
	border-top: 1px solid #eee;
	clear: both;
	padding: 3em 0 1.5em;
}

.footer__content {
	font-size: 0.81em;
	line-height: 1.8em;
	margin: 0 auto;
	max-width: 42em;
}

@media (min-width: 45em) {	.footer__content { text-align: center; } }
