<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
{% if meta.description %}
    <meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
{% endif %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Lato:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ theme_url }}/css/normalize.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/normalize-opentype.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/main.css?v=1.0.0">

</head>
<body>

<!--[if lt IE 9]>
    <p class="browsehappy"><a href="http://browsehappy.com/">You're using an old browser, please update for a better experience. &rarr;</a></p>
<![endif]-->

<div class="page">

    <header class="header">
        <h1 class="header__branding">
            <a href="{{ base_url }}" class="header__branding__logo">{{ site_title }}</a>
        </h1><!-- .header__branding -->
        <nav class="navigation">
            <h3 class="navigation__toggle"><span class="navigation__toggle__button">&equiv;</span></h3>
            <div class="navigation__items">
                {{ at_navigation.navigation }}
            </div>
        </nav><!-- .navigation -->
    </header><!-- .header -->

    <main class="content">

        <header class="content__header">
            <h1>{{ meta.title }}</h1>
            <h2>{{ meta.description }}</h2>
        </header><!-- .content__header -->

        <div class="content__article">
            {{ content }}
        </div><!-- .content__article -->

        <footer class="content__meta">
            <p class="content__meta__modified">Last modified on {{ z_file.modified }}.</p>
        </footer>

    </main><!-- .content -->

    <footer class="footer">
        <div class="footer__content">
            <p>
                Plastic Habitat is a reference and playground for design and development.<br />
                All the content is available on GitHub, <a href="//github.com/zomnium/plastichabitat">Plastic Habitat on GitHub</a>.
            </p>
            <p><small>A project by <a href="//slurfhondje.nl/">Tim van Bergenhenegouwen</a> from <a href="//zomnium.com/">Zomnium</a>.</small></p>
        </div><!-- .footer__content -->
    </footer><!-- .footer -->

</div><!-- .page -->

<script src="{{ theme_url }}/js/ui.js?v=1.0.0"></script>
{% if config.z_analytics %}
<!-- Analytics -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.zomnium.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 5]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.zomnium.com/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
<!-- End Analytics -->

{% endif %}

</body>
</html>
