/**
 * Plastic Habitat
 * Playground for design and development
 * http://plastichabitat.com
 */

/**
 * Use box-sizing on everything
 */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Typography
 */

body {
	color: #3D2914;
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	line-height: 1.8em;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	line-height: 1.5em;
}

h1, h2 {
	border-top: 1px solid #eee;
	font-weight: 700;
	margin-top: 2.4em;
	padding-top: 1.8em;
}

h3, h4 {
	font-style: italic;
	margin-top: 1.8em;
}

/**
 * Anchors
 */

a {
	border-bottom: 0.15em solid #F6AC00;
	color: inherit;
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

a:hover {
	color: #F6AC00;
}

/**
 * Lists
 */

ul {
	list-style-type: circle;
	padding-left: 1.2em;
}

/**
 * Code
 */

code {
	background-color: #eee;
	padding: 0.3em 0.45em;
	border-radius: 0.3em;
}

pre {
	border-left: 0.50em solid #eee;
	padding-left: 0.75em;
}

pre code {
	background: transparent;
	padding: 0;
}

/**
 * Layout
 */

.page {
	background-color: #fff;
/*	border: .75em solid #eee;*/
	border: .9em solid #eee;
	padding: 1.2em;
}

.header {
	float: left;
}

.header__branding {
	border: none;
}

.header__branding__logo {
	background: url('plastichabitat-logo.svg') no-repeat top left;
	background-size: contain;
	border: none;
	display: block;
	height: 0;
	overflow: hidden;
	padding: 3em 0 0 3em;
	width: 0;
}

.navigation ul {
	border-top: 1px solid #eee;
	list-style: none;
	line-height: 1.5em;
	padding: 0;
}

.navigation a {
	border-bottom: 1px solid #eee;
	display: block;
	padding: 0.5em;
}

.content {
	margin: 6em auto;
	max-width: 42em;
}

.content__header h1,
.content__header h2 {
	border: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.content__header h1 {
	font-size: 3em;
	font-weight: 700;
}

.content__header h2 {
	font-size: 1.5em;
	font-weight: 400;
	font-style: italic;
}

.footer {
	border-top: 1px solid #eee;
	padding: 3em 0 1.5em;
}

.footer__content {
	margin: 0 auto;
	max-width: 42em;
}
